/ views/tech_tips/index.html.haml

= render 'tech_tips/jquery2move_tips'

%h3 Technical Tips

%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")

%br/
%a(href='#h3_2012_0522')2012-05-22 Install MongoDB From Source on Ubuntu 10.04
%br/
%a(href='#h3_2012_0430')2012-04-30 Rails Prerequesite: Effective Editor (Vim)
%br/
%a(href='#h3_2012_0429')2012-04-29 Rails Prerequesite: Effective Editor (Emacs)
%br/
%a(href='#h3_2012_0428')2012-04-28 Rails Class Topics
%br/
%a(href='#h3_2012_0427')2012-04-27 Rails Prerequesite: UNIX Shell (Bash Class)
%br/
%a(href='#h3_2012_0426')2012-04-26 Install MongoDB From Source on Mac OS/X
%br/
%a(href='#h3_2012_0422')2012-04-22 Struggles with Active Scaffold and Rails 3.2.3
%br/
%a(href='#h3_2012_0412')2012-04-12 Debugging Node.js During Development
%br/
%a(href='#h3_2012_0411')2012-04-11 Install Node.js from source
%br/
%a(href='#h3_2012_0329')2012-03-29 Notes about Heroku 'pgbackups'
%br/
%a(href='#h3_2012_0318')2012-03-18 jQuery-UI, Rails 3.2.x, application.js
%br/

%hr/
= render 'tech_tips/tech_tips2012_0522_mongodb'
%hr#vim/
= render 'tech_tips/tech_tips2012_0430_vim'
%hr#emacs/
= render 'tech_tips/tech_tips2012_0429_emacs'
%hr#rails/
= render 'tech_tips/tech_tips2012_0428_rails_class'
%hr#bash_class/
= render 'tech_tips/tech_tips2012_0427_bash_class'
%hr#mongodb/
= render 'tech_tips/tech_tips2012_0426_mongodb'
%hr/
= render 'tech_tips/tech_tips2012_0422_active_scaffold'
%hr#node_inspector/
= render 'tech_tips/tech_tips2012_0412_debugging_nodejs'
%hr/
= render 'tech_tips/tech_tips2012_0411_install_nodejs'
%hr#pgbackups/
= render 'tech_tips/tech_tips2012_0329_heroku_pgdump'
%hr/
= render 'tech_tips/tech_tips2012_0318_jqueryui'
%hr/
