- if(current_user.present? and (current_user.id == @user.id))
  = link_to("Edit your profile", edit_user_registration_path)
  %br/
  %br/
- if(@profile_photo_url.blank? or @profile_photo_url.the_url.blank?)
  = image_tag 'http://0.gravatar.com/avatar/fa3c0e79ecfe1f9e2cdc906ae34b14ee'
- else
  = image_tag @profile_photo_url.the_url, :alt => '(Photo should be here)'

%br/
Name:
= @user.name
%br/
E-Mail:
= @user.email
%br/
Twitter Handle:
- if @user.twitter_handle =~ /^@\w+/
  %a(href="http://twitter.com/#{@user.twitter_handle}" target="t")
    http://twitter.com/#{@user.twitter_handle}
- else
  = @user.twitter_handle

%br/
Location:
= @user.location
%br/
- if @projects.present?
  This user owns these projects:
  %ul
  - @projects.each do |project|
    %li
      = link_to project.name, project_path(project)
%br/
- if @invitations.present?
  This user has been invited to these projects:
  %ul
  - @projects_invited_to.each do |project|
    %li
      = link_to project.name, project_path(project)

%br/
%br/
- if @pitches.present?
  This user has pitched to these projects:
  %ul
  - @projects_pitched_to.each do |project|
    %li
      = link_to project.name, project_path(project)
