%h2 Edit Your Profile

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  E-Mail:
  = @user.email

  %br/
  %br/
  Name
  %br/
  = f.text_field :name

  %br/
  %br/
  #div_warning.round_corner15px.background_color_eee
    Be careful about exposing personal information here.
    %br/
    If your name is Bob Smith perhaps you should list your name as Bob S.
  %br/
  %br/

  Twitter Handle
  %br/
  = f.text_field :twitter_handle

  %br/
  %br/
  Location (City or Postal Code works good here)
  %br/
  = f.text_field :location

  %br/
  %br/
  Photo URL
  %br/
  = text_field_tag :photo_url
  %br/
  #div_photo_tip.round_corner15px.background_color_eee
    example: http://photos1.meetupstatic.com/photos/member/4/6/0/4/member_437924.jpeg
  %br/
  %br/
  New Password (If you want to change it)
  %br/
  = f.password_field :password

  %br/
  %br/
  New Password Confirmation
  %br/
  = f.password_field :password_confirmation

  %div
    %br/
    %br/
    Current Password (Your current password to confirm your changes)
    %br/
    = f.password_field :current_password


    %br/
    = f.submit 'Save'
  %br/

