%h2 Edit Your Profile

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  This is the E-Mail you registered with:
  %br/
  %h3
    = @user.email

  %div
    %br/
    %br/
    Tell us your CURRENT Password.
    %br/
    #div_cp.round_corner15px.background_color_eee
      (If you know your Current Password, we trust you):
    %br/
    = f.password_field :current_password

  %br/
  %br/
  Name
  %br/
  = f.text_field :name

  %br/
  %br/
  #div_warning.round_corner15px.background_color_eee
    Be careful about exposing personal information here.
    %br/
    If your name is Bob Smith perhaps you should list your name as Bob S.
  %br/
  %br/

  Twitter Handle
  %br/
  = f.text_field :twitter_handle
  %br/
  #div_twitter_tip.round_corner15px.background_color_eee
    example: @Hackternoon

  %br/
  %br/
  Location (City or Postal Code works good here)
  %br/
  = f.text_field :location

  %br/
  %br/
  Photo URL
  %br/
  = text_field_tag(:photo_url, @pu, :size => 88)
  %br/
  #div_photo_tip.round_corner15px.background_color_eee
    examples:
    %ul
      %li http://photos1.meetupstatic.com/photos/member/4/6/0/4/member_437924.jpeg
      %li http://gravatar.com/avatar/cb2b768a5e546b24e052ea03334e43676
      %li https://secure.gravatar.com/avatar/cb2b768a5e546b24e052ea03334e43676
      %li http://profile.ak.fbcdn.net/hprofile-ak-snc4/173649_681665317_58999555767_n.jpg
  %br/
  %br/
  New Password (If you want to change it)
  %br/
  = f.password_field :password

  %br/
  %br/
  New Password Confirmation
  %br/
  = f.password_field :password_confirmation
    
  %br/
  = f.submit 'Save'

  %br/

