%h2 Register

= form_for(resource, :as => resource_name, :url => user_registration_path(@user)) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    = f.email_field :email
  %p
    = f.submit 'Signup'
  %br/
  = render :partial => 'devise/links'


:javascript
  $(document).ready(function(event) {
    $("div#div_warning").hide();
    $("a#a_warning").show();

    $("a#a_warning").click(function (event) {
      event.preventDefault();
      $("div#div_warning").show();
      $("a#a_warning").hide();
    });

    $("#close_warning").click(function (event) {
      event.preventDefault();
      $("div#div_warning").hide();
      $("a#a_warning").show();
    });

  });    

%a#a_warning.hidden(href="#")Warning!

%div#div_warning.background_color_eee.round_corner15px
  You might want to use a "secondary-throw-away" e-mail address here.
  %br/
  %br/
  Yahoo mail gives you a seconday E-Mail address in about 2 minutes:
  %a(href="https://mail.yahoo.com" target="y")https://mail.yahoo.com
  %br/
  %br/
  Spammers and id-thieves are very interested in your primary e-mail address.
  %br/
  %br/
  %button#close_warning(type="button")OK
  %br/
  %br/
