= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :dscrptn
    = f.text_area :dscrptn
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :github_url
    = f.text_field :github_url
  .actions
    = f.submit 'Save'
