
:javascript
  $(document).ready(function() {
    $("a#show_div4_lhs").hide("slow");
    $("a#hide_div4_lhs").show("slow");

    $("a#hide_div4_lhs").click(function () {
      $("div#div4_lhs").hide("slow");
      $("a#hide_div4_lhs").hide("slow");
      $("div#div4row2").addClass("margin_left0px");
      $("a#show_div4_lhs").show("slow");
    });    

    $("a#show_div4_lhs").click(function () {
      $("div#div4_lhs").show("slow");
      $("a#show_div4_lhs").hide("slow");
      $("a#hide_div4_lhs").show("slow");
      $("div#div4row2").removeClass("margin_left0px");
    });    
  });

%a#hide_div4_lhs.hidden(href="#")Move Projects Left
%a#show_div4_lhs.hidden(href="#")Move Projects right

%h2 Projects

%table
  %tr
    %th#th_name Name
    %th#th_description Description
    %th#th_owner Owner
    %th#th_github Github URL
    %th#th_ttag Tech Tags
    %th#th_btag Business Tags
    %th#th_upd Updated At

  - @projects.each do |project|
    %tr
      %td= link_to(truncate(project.name, :length => 25), project)
      %td= truncate(project.dscrptn, :length => 80)
      %td= link_to(truncate(project.user.email, :length => 15), show_user_path(:user_id => project.user_id))
      %td= link_to truncate(project.github_url, :length => 25),project.github_url
      %td
        = truncate project.tech_tag1, :length => 22
        %br/
        = truncate project.tech_tag2, :length => 22
        %br/
        = truncate project.tech_tag3, :length => 22
      %td
        = truncate project.biz_tag1,  :length => 22
        %br/
        = truncate project.biz_tag2,  :length => 22
        %br/
        = truncate project.biz_tag3,  :length => 22
      %td= truncate project.updated_at.to_s, :length => 22

%br
