%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.dscrptn
%p
  %b Owner:
  = link_to(@project.user.name, show_user_path(:user_id => @project.user_id))
%p
  %b Github URL:
  = @project.github_url

= link_to 'Edit', edit_project_path(@project)

