%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.dscrptn
%p
  %b Owner:
  = link_to(@project.user.name, show_user_path(:user_id => @project.user_id))
%p
  %b Github URL:
  = link_to @project.github_url, @project.github_url, :target => 'g'

Invite someone to help you with the project (enter an e-mail address):
%br/
= render 'invitation_form'
%br/
%br/
= link_to('Edit', edit_project_path(@project)) if current_user == @project.user
%br/
%br/
