- if i_own?(@project)
  = link_to('Edit this project', edit_project_path(@project)) if current_user == @project.user
  %br/
  %br/

Name:
= @project.name
%br/

Description:
= @project.dscrptn
%br/

Owner:
= link_to(@project.user.email, show_user_path(:user_id => @project.user_id))
%br/

Github URL:
- if @project.github_url =~ /(^http:\/\/github.com\/\w+\/\w+)$|(^https:\/\/github.com\/\w+\/\w+)$/
  = link_to @project.github_url, @project.github_url, :target => 'b'
- else
  %br/
  = @project.github_url
%br/
%br/

This project has these technology tags:
%br/
%br/
=@project.tech_tag1
%br/
=@project.tech_tag2
%br/
=@project.tech_tag3
%br/
%br/

This project has these business tags:
%br/
%br/
=@project.biz_tag1
%br/
=@project.biz_tag2
%br/
=@project.biz_tag3
%br/
%br/
- if i_own?(@project)
  Invite someone to help you with the project!
  %br/
  = render 'invitation_form'
  %br/
- unless @project.invitations.blank?
  Invitations to work on this project have been sent to these e-mail addresses:
  %ul
  - @project.invitations.each do |invitation|
    %li
      = link_to(invitation.user.email, show_user_path(:user_id => invitation.user_id))
%br/
%br/

