%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.dscrptn
%p
  %b Owner:
  = @project.user.name
%p
  %b Github URL:
  = @project.github_url

= link_to 'Edit', edit_project_path(@project)

