
= form_for(resource, :url => confirm_user_path) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    = @user.email
    = f.hidden_field :confirmation_token
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p.clearfix
    = f.submit 'Set Name and Password Then Press This'
  = link_to 'Home', root_url
  %br/
  = render :partial => 'devise/links'
