<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>hn22</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<div id="wrapper">   
  <div id="nav">       
    <ul>
      <li class="li_logo">
        <h1 class="h1_logo">Logo</h1>
      </li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
   </div>    
</div>


<div id="content-tags">
  <div id="content-wrapper">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</div>


<div id="footer-wrapper">
  <div id="footer-menu">
    <p>Hackternoon 2011</p>
  </div>
</div>

</body>
</html>
