!!! 5
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Hackternoon.com
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #div4_top_logo.row
      .twelve.columns
        %a(href="/")
          %img(src="/assets/logo.png" alt="hackternoon.com")
    .row
      #div4_lhs.two.columns.round_corner15px
        %ul
          = render 'devise/menu/registration_items'
          = render 'devise/menu/login_items'
          %li
            = link_to('Projects',projects_path)

          - if current_user.present?
            %li
              = link_to('New Project', new_project_path)
      #div4_rhs.nine.columns.round_corner15px
        %p.notice
          = notice
        %p.alert
          = alert
        = yield
    .row
      #div4_footer.eleven.columns.round_corner15px
        %a#a_htn(href="/") Hackternoon
        2012
